#bottom-nav {
    position: fixed;
    bottom: 0em;
    background-color: transparent;
    width: 100%;
    z-index: 5;
    
    #text-box{
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        font-family: 'HelveticaNeue_Light';
        margin-right: -0.78%;
        letter-spacing: 0.45em;
        z-index: 6;
        small{
            font-size: 0.71rem;
            line-height: 1.4;
            letter-spacing: 0.2em;
            font-weight: 400;
        }
        a{
            color: rgba(0, 0, 0, 1);
            text-decoration: none;
        }
    }
    #say-hi{
        z-index: 6;
        position: absolute;
        bottom: 0;
    }
}
