#bottom-nav {
    position: fixed;
    bottom: 0em;
    background-color: transparent;
    width: 100%;
    
    #text-box{
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
        width: 100%;
        font-family: 'HelveticaNeue_Light';
        margin-right: -1%;
        letter-spacing: 0.5em;
        small{
            font-size: 0.69rem;
            line-height: 1.4;
            letter-spacing: 0.23em;
            font-weight: 400;
        }
        a{
            color: rgba(0, 0, 0, 1);
            text-decoration: none;
        }
    }
    #say-hi{
        position: absolute;
        z-index: 11;
        bottom: 0;
    }
}
