#gallery{
    position: relative;
    padding-top: 5rem /*!main_margin*/;
    padding-bottom: 0rem /*!main_margin*/;
    padding-left: 0rem /*!main_margin*/;
    padding-right: 0rem /*!main_margin*/;
}