
a{
    img[clickable="true"]{
        width: 50%;
        opacity: 1;
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        transition-property: transform;
    }

}
a > img:hover {
    transform: rotate(4deg);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}