//@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto:100,400&display=swap');

@font-face{
    font-family: 'HelveticaNeue_Light';
    src: url('./fonts/HelveticaNeueLight.woff2');
    font-weight: lighter;
}
body{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
}
.pad-2{
    padding: 2rem;
}
.grid-gutter{
    margin: -2rem;
}
[grid-col="2"]{
    width: 16.66667%;
}
[grid-col="8"]{
    width: 66.66667%;
}
#nav{
    text-align: center;
    justify-content: flex-start;
    background-color: transparent;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    max-height: 100vh;
    max-width: 100%;
    z-index: 20;
    font-weight: 400;
    
    div {
        padding-top: 1.38rem;
        small{
            font-size: 1rem;
        }
        small a{        
            text-align: right;
            color: rgba(0, 0, 0, 1);
            padding-top: 0.5em;
            font-family: 'HelveticaNeue_Light';
            text-decoration: none;
            line-height: 1.6;
            letter-spacing: 0.2em;
            font-size: 0.71rem;
        }
        a img{
            margin-top: -0.89rem;
            width: 13.65rem;
            height: auto;
        }
    }
}

/*#nav a:hover, img:hover {
    color: rgba(181, 181, 181, 1) !important;
}*/