//@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto:100,400&display=swap');

.pad-2{
    padding: 2rem;
}
.grid-gutter{
    margin: -2rem;
}
#nav{
    text-align: center;
    justify-content: flex-start;
    background-color: transparent;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    max-height: 100vh;
    max-width: 100%;
    z-index: 20;
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: -1.5rem;
    margin-bottom: 0.9rem;
    
    div {
        padding-top: 1.75rem;
        small{
            font-size: 1rem;
        }
        small a{      
            padding-left: 0.2rem;  
            padding-right: 0.2rem;  
            text-align: right;
            color: rgba(0, 0, 0, 1);
            padding-top: 0.5em;
            font-family: 'HelveticaNeue_Light';
            text-decoration: none;
            line-height: 1.6;
            letter-spacing: 0.2em;
            font-size: 0.71rem;
        }
        a img{
            padding-top: 0.25rem;
            margin-top: -0.89rem;
            width: 17rem;
            height: auto;
        }
    }
}

/*#nav a:hover, img:hover {
    color: rgba(181, 181, 181, 1) !important;
}*/