.content_padding{
    padding-top: 4rem /*!main_margin*/;
    padding-bottom: 4rem /*!main_margin*/;
    padding-left: 4rem /*!main_margin*/;
    padding-right: 4rem /*!main_margin*/;
}
a:hover{
    color: rgba(181, 181, 181, 1) !important;
}